*{
    margin: 0;
}
.box {
    height: 50px;
}

.box1 {
    width: 25px;
    background-color: green;
}

.box2 {
    width: 500px;
    background-color: violet;
}

.box3 {
    width: 5rem;
    background-color: brown;
}

.box4 {
    width: 100%;
    background-color: orange;
}