/* reset */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.htlm{
    font-family:Arial, Helvetica, sans-serif ;

}
/* 1.làm từ trên xuống dưới từ ngoài vào trong 
2. tổng quan đến chi tiết  */

/* 1. vị trí
2. màu sắc '
3. kích thước
4.kiểu dáng (kiểu chữ , hình ...) */
#main { 


}

#header { 
    height: 46px;
    background-color: black;
}
#nav{
    display: inline-block;
}
#nav, .sublav{
list-style-type: none

}

#nav > li{
    display: inline-block;
} 

#nav li {
    position: relative;
}

#nav > li > a{
    color: aliceblue;
    text-transform: uppercase;
} 

#nav li a {
   
    text-decoration: none;
    line-height: 46px; 
    padding: 0 24px ;
    display: block;
}
#nav li:hover .sublav{
    display: block;
}



#nav > li:hover > a,
#nav .sublav li:hover a {
    color: black;
    background-color: #ccc;
}
#nav .sublav{
      display: none;  
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow:0 0 10px rgba(0,0, 0, 0.5) ;
}
#nav .sublav a{
    color: black;
    padding: 0 12px;
    line-height:38px;
}
#nav .nav-arrow-down{
font-size: 14px;
}
#header .search-btn{
    float: right;
    padding: 0 20px;
    cursor: pointer;

}
#header .search-btn:hover{
background-color:#567

}
#header .search-icon{
    color: #fff;
    font-size: 20px;
  
     line-height: 46px;
    
     
}



#slider  { 


}

#content { 


}

#footer { 


}